In [2]:
import pandas as pd 
from sklearn.metrics import log_loss
from catboost.datasets import amazon

In [3]:
train_df, test_df = amazon()

In [4]:
test_df

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425
...,...,...,...,...,...,...,...,...,...,...
58916,58917,75078,4565,117961,118386,121961,118784,117906,290919,118786
58917,58918,6977,72209,117961,118225,124948,118054,118054,117887,118055
58918,58919,39262,6114,117961,118343,6104,118278,118260,290919,118279
58919,58920,1023,8674,117961,118327,120318,118321,117906,290919,118322
58920,58921,44977,3918,117961,118343,118660,119433,133686,118424,119435

In [3]:
df = pd.read_csv('../datasets/Amazon/train.csv')
df

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325
...,...,...,...,...,...,...,...,...,...,...
32764,1,23497,16971,117961,118300,119993,118321,240983,290919,118322
32765,1,25139,311198,91261,118026,122392,121143,173805,249618,121145
32766,1,34924,28805,117961,118327,120299,124922,152038,118612,124924
32767,1,80574,55643,118256,118257,117945,280788,280788,292795,119082
32768,1,14354,59575,117916,118150,117920,118568,122142,19721,118570

In [8]:
df = pd.read_csv('../datasets/Amazon/test.csv', index_col='id')
df

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
id,,,,,,,,,
1,78766,72734,118079,118080,117878,117879,118177,19721,117880
2,40644,4378,117961,118327,118507,118863,122008,118398,118865
3,75443,2395,117961,118300,119488,118172,301534,249618,118175
4,43219,19986,117961,118225,118403,120773,136187,118960,120774
5,42093,50015,117961,118343,119598,118422,300136,118424,118425
...,...,...,...,...,...,...,...,...,...
58917,75078,4565,117961,118386,121961,118784,117906,290919,118786
58918,6977,72209,117961,118225,124948,118054,118054,117887,118055
58919,39262,6114,117961,118343,6104,118278,118260,290919,118279
58920,1023,8674,117961,118327,120318,118321,117906,290919,118322
58921,44977,3918,117961,118343,118660,119433,133686,118424,119435